.button {
	@extend .-bdr-green;
	@extend .-bg-green;
	@extend .-bdr-round;

	border-bottom: 4px solid darken(#12ac87, 10);
	text-align: left;
	color: #fff;

	&.-icon .fa {
		@extend .-pv-s;
		@extend .-pl-s;
		display: inline-block;
		width: 2em;
		border-right: 1px solid darken(#12ac87, 10);

	}

	&.-icon span {
		@extend .-pv-s;
		@extend .-ph;
	}

	display: block;
	transition: background-color .25s linear;

	@include breakpoint($on-mobile) {
		display: inline-block;
		text-align: center;
		max-width: 100%;
	}

	&:hover {
		@extend .-bg-green-light;
		border-bottom: 4px solid darken(#12ac87, 10);
	}
}
