button, .button {
	display: block;
	font-size: 1.4rem;
	padding: 8px 16px;
	color: #555;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	background: #f1f1f1;
	background-clip: padding-box;
	border: 1px solid;
	border-color: #ccc #c5c5c5 #bbb;
	border-radius: 3px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.05));
	box-shadow: inset 0 1px #fcfcfc, 0 1px 1px rgba(0, 0, 0, 0.05);
	
	@include breakpoint($on-mobile) {
		display: inline-block;
	}
	
	&:hover {
		color: #555;
		background-color: #f6f6f6;
	}

	&:focus,
	&.focus {
		border-color: #5EA8FB;
		outline: none;
		box-shadow: 0 0 2px rgba(110, 158, 247, 0.5);
	}

	&:active,
	&.active {
		color: #fafafa;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
		background: #6b6b6b;
		border-color: #383838 #595959 #777;
		background-image: linear-gradient(to bottom, #717171, #9a9a9a);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.8);
	}
	
	&--primary {
		position: relative;
		
		&::after, &::before {
			width: 100%;
			height: 100%;
			border-radius: 3px;
			content: "";
			position: absolute;
			z-index: -1;
			transition: all .2s ease-in-out;
		}
		
		&::after {
			background: rgba(#5BA4FF, .5);
			right: -5px;
			top: -5px;
		}
		
		&::before {
			background: rgba(#FF6100, .5);
			left: -5px;
			bottom: -5px;
		}
		
		&:hover::after {
			top: 0;
			right: 0;
		}
		
		&:hover::before {
			bottom: 0;
			left: 0;
		}
	}
}

a.button:hover {
	transition-property: none;
	border-bottom: 1px solid #bbb;
}

.button .material-icons {
	font-size: 1.6rem;
	vertical-align: middle;
	padding: 0 2px 2px 0;
}
