.button {
	@extend .-relative;
	@extend .-pt-8;
	@extend .-pb-8;
	@extend .-pl-16;
	@extend .-pr-16;
	@extend .-bdr-rounded;
	background: rgba(#435676, .7);
	transition: all .2s ease-in;
	
	& .icon { @extend .-pr-8 }

	&:before, &:after {
		@extend .-absolute;
		@extend .-bdr-rounded;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		transition: all .2s ease-in;
	}

	&:before {
		background: rgba(#FF6100, .5);
		left: -3px;
		bottom: -3px;
	}

	&:after {
		background: rgba(#5BA4FF, .5);
		left: 3px;
		top: -3px;
	}

	&:hover:before { left: 0; bottom: 0; }
	&:hover:after { left: 0; top: 0; }
	&:hover { background: #435676; }

	@include breakpoint($on-mobile) {
		display: inline-block;
		text-align: center;
		max-width: 100%;
	}
}

a.button {
	color: #fff;
	border-bottom: 0;
}
