.members {
	flex-direction: column;

	@include breakpoint(1180px) {
		flex-direction: row;
	}
}

.member-gallery {
	@extend .-pt-l;

	@include breakpoint(1180px) {
		padding: 32px 0 0 32px;
	}

	.col {
		@extend .-fixed-width;
		max-width: 200px;
	}
}


.member-image {
	width: 170px;
	height: 170px;
	border: 1px solid #cbd3dd;
	border-radius: 50%;
	@extend .-center;
	@extend .-bdr-circle;
	overflow: hidden;
}

//.member-image {
//	//@extend .-center;
//	@extend .-bdr-circle;
//	width: 170px;
//	height: 170px;
//	overflow: hidden;
//
//	@include breakpoint($on-desktop) {
//		width: 170px;
//		height: 170px;
//	}
//
//	&.-green { border: 1px solid #12AC87 }
//	&.-blue { border: 2px solid #28A7E9 }
//}
