ul {
	margin-left: 2em;

	a {
		border-bottom: 0;
	}

	li ul {
		margin-top: .5em;
	}

	&.-horizontal {
		list-style: none;
		margin-bottom: 1em;

		li {
			display: inline-block;
		}
	}
}

p + ul {
	margin-top: 1em;
}

.getting-started-list {
	font-size: 1.4rem;
}