ul {
	padding-left: 1.65em;
	
	&.-no-bullets {
		list-style: none;
	}

	&.-horizontal {
		padding-left: 0;
		list-style: none;

		> li {
			display: block;
			margin-top: .825em;
			margin-bottom: .825em;
			@include breakpoint($on-notebook) {
				display: inline-block;
			}
			
		}
	}
}

li p {
	margin-top: 0;
	margin-bottom: 0;
}

li p ~ p {
	margin-top: .825em;
}

li ~ li {
	margin-top: .4125em;
}

