ul {
	&.--horizontal {
		@extend .-no-rhythm;
		margin-left: 0;
		list-style: none;
		
		li {
			display: inline-block;
			text-align: center;
		}
	}
}

ul {
	margin-left: 2em;
	
	* + * {
		margin-top: .25em;
	}
}