.nav-wrapper { width: 100%; }

.nav {
	display: flex;
	flex-direction: column;
	transform: translateY(100%);
	transition: all .3s ease-in;
	border-top: 1px solid rgba(49,78,95,0.12);

	@include breakpoint($on-notebook) {
		transform: translateY(0);
		flex-direction: row;
	}

	&.visible { transform: translateY(0); }
}

.nav-link {
	color: #5B677D;
	//color: #435676;
	padding: .5rem 1rem 1rem;
	transition: all .1s ease-in;
	position: relative;
	//background: rgba(#5BA4FF, .9);
	background: #fff;

	&:after {
		@extend .-bdr-circle;
		background: #FF6100;
		transform: scale(0);
		transition: all .1s ease-in;
		content: '';
		width: 8px;
		height: 8px;

		@include breakpoint($on-notebook) {
			position: absolute;
			bottom: 8px;
			left: calc(50% - 4px);
		}
	}

	&.active, &:hover {
	color: #292e31;
	}

	&.active:after, &:hover:after { transform: scale(1); }

	i { margin-right: .5rem; }

	@include breakpoint($on-notebook) {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.nav-toggle {
	width: 100%;
	display: block;
	position: relative;
	bottom: 0;

	@include breakpoint($on-notebook) { display: none; }
}
