.container {
	&--small {
		max-width: 480px;
	}
	
	&--medium {
		max-width: 640px;
	}
	
	&--large {
		max-width: 960px;
	}
}

.page__header {
	margin-top: 0;
	background: #5EA8FB;
	padding-top: 150px;
	box-shadow: inset 0px -2px 0px 0px rgba(84,144,243,1);
	
	.card--top {
		background: #fff;
		width: 960px;
		padding: 2em;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-bottom: 1px solid #E4E4E4;
	}
}

.page__article {
	margin-top: 0;

	.card--middle, .card--part {
		background: #fff;
		width: 960px;
		padding: 2em;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	
	.card--part {
		margin-top: 0;
		
		border-top: 1px solid #E4E4E4;
	}
}