body.is-loading .banner .container.-animated {
	opacity: 0;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	transform: scale(1.025);
}

.pillars {
	background: #fff;
	border-top: 1px solid rgba(49,78,95,0.12);
	border-left: 1px solid rgba(49,78,95,0.12);
	border-right: 1px solid rgba(49,78,95,0.12);

	.col {
		padding: 32px;
		border-right: 1px solid rgba(49,78,95,0.12);

		&:last-of-type { border: 0 }
	}
}

.banner {
	.container {
		opacity: 1;
		transition: opacity 0.75s ease-in-out,
		transform 0.5s ease-in-out,
		filter 0.5s ease-in-out;
	}

	@include breakpoint($on-notebook) {
		padding: 150px 0 0 100px;
	}

	.learn-more {
		@extend .-mt-l;
		@extend .-absolute;
		display: none;
		width: 100px;
		left: calc(50% - 50px);

		@include breakpoint($on-notebook) {
			display: inline-block;
		}

		.caret-3d {
			color: rgba(#435676, .7);
			position: relative;

			&:after {
				font-family: 'Ionicons';
				position: absolute;
				content: '\f123';
				left: 0px;
				bottom: -4px;
				color: rgba(#ff6100, .5);
				z-index: -1;
				transition: all .2s ease-in;
			}

			&:hover:after { bottom: -6px; }
		}

		a {
			border-bottom: 0;
			text-decoration: none;
			color: #5BA4FF;
			transition: all .2s ease-in;

			&:hover { color: #435676; }
		}
	}
}


.style1, .style4 {
	background: #f8f9fb;
	color: #6f7c82;


	&.diagonal-border:before {

		background: #f8f9fb;
		border-top: 1px solid rgba(49,78,95,0.12);
	}
}

.style4 {
	h1, h2, h3 {
		color: #000;
		text-align: center;
	}

	.col {
		padding: 23px 25px;
		margin: 0 !important;
		border-left: 1px solid rgba(49,78,95,0.12);
		&:last-of-type {
			border-right: 1px solid rgba(49,78,95,0.12);

		}
	}

}

.style2 {
	background: #fff;
	border-bottom: 1px solid rgba(49,78,95,0.12);
	border-top: 1px solid rgba(49,78,95,0.12);
}

.style3 {
	color: #c7cfd4;
	background: #1b2128;
	background-image: linear-gradient(163deg,#1b2128,#61758e);

	h1, h2, h3, h4, h5, h6, strong, em {
		color: #fff;
	}

	code {
		color: #fff;
		background: #8291ad;
	}
}



.container {
	max-width: 90%;

	&.-small { max-width: 500px; }

	@include breakpoint($on-notebook) {
		width: 960px;

		&.-large {
			width: 1200px;
		}
	}
}

@include breakpoint($on-notebook) {
	.content .col {
		margin-right: 2rem;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.diagonal-border {
	@extend .-relative;

	&:before {
		position: absolute;
		top: -50px;
		left: 0px;
		height: 100px;
		content: "";
		width: 100%;
		height: 100px;
		@extend .-z-middle;
		transform: skewY(-2deg);
	}
}
