.speechbox .tag {
	background: #fff;
}

.tag {
	font-size: 13px;
	color: #333;
	margin-right: 12px;
	margin-bottom: 9px;
	padding: 2px 12px 2px 11px;
	border: 1px solid #cbd3dd;
	border-right: 0;
	position: relative;
	border-radius: 3px 0 0 3px;

	& .icon { @extend .-pr-4 }

	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
	}

	&:before {
		height: 18px;
		width: 16px;
		top: 2px;
		right: -8px;
		background-color: #fff;
		border-radius: 0 5px 0 0;
		border-top: 1px solid #cbd3dd;
		border-right: 1px solid #cbd3dd;
		transform: rotate(45deg);
	}

	&:after {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		border: 1px solid #cbd3dd;
		top: 8px;
		right: -1px;
	}
}
