@media (min-width: $on-mobile) {
	.row {
		display: flex;
		flex-direction: row;
	}
	
	.row--gutter {
		.row__col + .row__col {
			margin-left: 1em;
		}
	}
	.row--wrap { flex-wrap: wrap }
	.row--no-wrap { flex-wrap: nowrap }
	.row--middle {
		align-items: center;
		align-content: center;
	}
	
	.row__col { flex: 1 }
	.row__col + .row__col {
		margin-top: 0;
	}
	
	.row__col--fixed-width {
		flex-grow: 0;
		flex-basis: auto;
	}
}