@media (min-width: 640px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		&.-wrap {
			flex-wrap: wrap;
		}

		> .col {
			flex: 1;
		}

		> .col + .col {
			margin-left: 1em;
			margin-top: 0;
		}
	}
}

.col + .col {
	margin-top: 2em;
}
