// Ensures page width is always >=320px.
html, body {min-width: 320px;}
html {scroll-behavior: smooth;}

body {
	padding-top: 25px;
	padding-bottom: 25px;

	@include breakpoint($on-notebook) {
		padding-top: 50px;
	}

	&.is-loading {
		animation: none !important;
		transition: none !important;

		*, *:before, *:after {
			animation: none !important;
			transition: none !important;
		}
	}
}
