@font-face {
	font-family: "GamePocket";
	src: url("/fonts/GamePocket-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

body, input, select, textarea {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
nav {
	font-family: "GamePocket";
}
h1 {
	font-size: 1.4rem;
}
h2 {
	font-size: 1.2rem;
}

b, strong {
	font-weight: 600;
}

.colored-links a {
	color: #0066ff;
	text-decoration: underline;

	&:hover {
		color: #55aaff;
	}
}

code {
	font-family: monospace;
	font-size: 1rem;
}

pre {
	border: 4px solid black;
	padding: 1em;
	margin: -1em;
	overflow-x: auto;
}
