html {
	@extend .-font-normal;
}

body, input, select, textarea {
	font-family: 'Roboto', sans-serif;
	line-height: 1.65;
	color: #5B677D;
	font-weight: 300;
}

p {
	@extend .-mt-xl;
}


h1, h2, h3, h4, h5, h6 {
	color: #4C5B76;
	font-weight: 400;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

.banner .-major {
	padding-top: 0;
}

header.-major {
	text-align: center;

	.style3 & {
		text-shadow: 0 1px 2px rgba(0,0,0,0.39);
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}

	padding-top: 55px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	border-bottom: 1px solid #e8ecef;

	& h2 {
		@extend .-mb-l;
	}

	p {
		margin: 0;
		padding-bottom: 25px;
	}

	i {
		margin-bottom: 25px;
	}
}

header.-minor {
	text-align: center;
	i {
		margin-bottom: 25px;
	}
}

.boxed {
	font-size: 48px;
	color: #cbd3dd;
	display: block;
	border: 1px solid #cbd3dd;
	width: 64px;
	height: 64px;
	text-align: center;
	line-height: 48px;
	padding-top: 6px;
	border-radius: 3px;
	outline: 0;
}

strong, b {
	color: #4A5A77;
	font-weight: normal;
}

em, i { font-style: italic; }

a {
	color: #008cdd;
	text-decoration: none;
	&:hover {
		color: #292e31;
	}
}

code {
	font-size: 13px;
	background-color: #fdfdfd;
	color: #333;
	text-shadow: 0 1px #fff;
	padding: 3px;
	font-family: monospace;
	border: 1px solid #dae0e7;
}
