@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic,400italic);

$min-width:   320px;
$on-mobile:   720px;
$on-notebook: 960px;
$on-desktop:  1200px;

@mixin breakpoint($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

// Grid & Reset.
@import 'reset';
@import 'grid';

// // Base.
@import 'page';
@import 'typography';

@import 'components/text';
@import 'components/animations';
@import 'components/spacing';
@import 'components/display';

@import 'entities/snackbar';
@import 'entities/banner';
@import 'entities/section';
@import 'entities/popover';
@import 'entities/list';
@import 'entities/button';
@import 'entities/tag';
@import 'entities/tooltip';
@import 'entities/table';


/*
// Components.
@import 'components/background';
@import 'components/border';
//@import 'components/colors';
@import 'components/position';
//@import 'components/size';

//
//// Entities.
////@import 'entities/gradient-bar';
@import 'entities/button';
@import 'entities/image';
@import 'entities/tag';
@import 'entities/comparison-slider';
@import 'entities/nav';
@import 'entities/text';
*/