.-bg-circles {
	background: url("/images/background.png");
	background-position: -670px -750px;
	background-repeat: no-repeat;
}

.-bg-circles-middle {
	background: url("/images/background.png");
	background-position: 50% -800px;
	background-repeat: no-repeat;
}
