.-right {
	margin-left: auto;
	margin-right: 0;
}

.-left {
	margin-left: 0;
	margin-right: auto;
}

.-center {
	margin-left: auto;
	margin-right: auto;
}

.-pv-s { padding-top: .5rem; padding-bottom: .5rem }

.-ph { padding-right: 1rem; padding-left: 1rem }

.-pt { padding-top: 1rem }
.-pt-xl { padding-top: 4rem }

.-pr { padding-right: 1rem }

.-pb-z { padding-bottom: 0 }
.-pb-xl { padding-bottom: 2rem }
.-pb-xxl { padding-bottom: 4rem }

.-pl { padding-left: 1rem }
.-pl-s { padding-left: .5rem }

.-m-z { margin: 0 }

.-mt-z { margin-top: 0 }
.-mt { margin-top: 1rem }

.-mb { margin-bottom: 1rem }
.-mb-l { margin-bottom: 2rem }
