.-p-z { padding: 0 }
.-p { padding: 1rem }
.-p-xs { padding: .25rem }
.-p-s { padding: .5rem }
.-p-l { padding: 2rem }
.-p-xl { padding: 4rem }
.-p-xxl { padding: 8rem }

.-pv-z { padding-top: 0; padding-bottom: 0 }
.-pv { padding-top: 1rem; padding-bottom: 1rem }
.-pv-xs { padding-top: .25rem; padding-bottom: .25rem }
.-pv-s { padding-top: .5rem; padding-bottom: .5rem }
.-pv-l { padding-top: 2rem; padding-bottom: 2rem }
.-pv-xl { padding-top: 4rem; padding-bottom: 4rem }
.-pv-xxl { padding-top: 8rem; padding-bottom: 8rem }

.-ph-z { padding-right: 0; padding-left: 0; }
.-ph { padding-right: 1rem; padding-left: 1rem }
.-ph-xs { padding-right: .25rem; padding-left: .25rem }
.-ph-s { padding-right: .5rem; padding-left: .5rem }
.-ph-l { padding-right: 2rem; padding-left: 2rem }
.-ph-xl { padding-right: 4rem; padding-left: 4rem }
.-ph-xxl { padding-right: 8rem; padding-left: 8rem }

.-pt { padding-top: 1rem }
.-pt-z { padding-top: 0 }
.-pt-xs { padding-top: .25rem }
.-pt-s { padding-top: .5rem }
.-pt-l { padding-top: 2rem }
.-pt-xl { padding-top: 4rem }
.-pt-xxl { padding-top: 8rem }

.-pr { padding-right: 1rem }
.-pr-z { padding-right: 0 }
.-pr-xs { padding-right: .25rem }
.-pr-s { padding-right: .5rem }
.-pr-l { padding-right: 2rem }
.-pr-xl { padding-right: 4rem }
.-pr-xxl { padding-right: 8rem }

.-pb { padding-bottom: 1rem }
.-pb-z { padding-bottom: 0 }
.-pb-xs { padding-bottom: .25rem }
.-pb-s { padding-bottom: .5rem }
.-pb-l { padding-bottom: 2rem }
.-pb-xl { padding-bottom: 4rem }
.-pb-xxl { padding-bottom: 8rem }

.-pl { padding-left: 1rem }
.-pl-z { padding-left: 0 }
.-pl-xs { padding-left: .25rem }
.-pl-s { padding-left: .5rem }
.-pl-l { padding-left: 2rem }
.-pl-xl { padding-left: 4rem }
.-pl-xxl { padding-left: 8rem }



.-m-z { margin: 0 }
.-m { margin: 1rem }
.-m-xs { margin: .25rem }
.-m-s { margin: .5rem }
.-m-l { margin: 2rem }
.-m-xl { margin: 4rem }
.-m-xxl { margin: 8rem }

.-mv-z { margin-top: 0; padding-bottom: 0 }
.-mv { margin-top: 1rem; padding-bottom: 1rem }
.-mv-xs { margin-top: .25rem; padding-bottom: .25rem }
.-mv-s { margin-top: .5rem; padding-bottom: .5rem }
.-mv-l { margin-top: 2rem; padding-bottom: 2rem }
.-mv-xl { margin-top: 4rem; padding-bottom: 4rem }
.-mv-xxl { margin-top: 8rem; padding-bottom: 8rem }

.-mh-z { margin-right: 0; padding-left: 0; }
.-mh { margin-right: 1rem; padding-left: 1rem }
.-mh-xs { margin-right: .25rem; padding-left: .25rem }
.-mh-s { margin-right: .5rem; padding-left: .5rem }
.-mh-l { margin-right: 2rem; padding-left: 2rem }
.-mh-xl { margin-right: 4rem; padding-left: 4rem }
.-mh-xxl { margin-right: 8rem; padding-left: 8rem }

.-mt { margin-top: 1rem }
.-mt-z { margin-top: 0 }
.-mt-xs { margin-top: .25rem }
.-mt-s { margin-top: .5rem }
.-mt-l { margin-top: 2rem }
.-mt-xl { margin-top: 4rem }
.-mt-xxl { margin-top: 8rem }

.-mr { margin-right: 1rem }
.-mr-z { margin-right: 0 }
.-mr-xs { margin-right: .25rem }
.-mr-s { margin-right: .5rem }
.-mr-l { margin-right: 2rem }
.-mr-xl { margin-right: 4rem }
.-mr-xxl { margin-right: 8rem }

.-mb { margin-bottom: 1rem }
.-mb-z { margin-bottom: 0 }
.-mb-xs { margin-bottom: .25rem }
.-mb-s { margin-bottom: .5rem }
.-mb-l { margin-bottom: 2rem }
.-mb-xl { margin-bottom: 4rem }
.-mb-xxl { margin-bottom: 8rem }

.-ml { margin-left: 1rem }
.-ml-z { margin-left: 0 }
.-ml-xs { margin-left: .25rem }
.-ml-s { margin-left: .5rem }
.-ml-l { margin-left: 2rem }
.-ml-xl { margin-left: 4rem }
.-ml-xxl { margin-left: 8rem }

.-center {
	margin-left: auto;
	margin-right: auto;
}
