.-right { margin-left: auto; margin-right: 0; }
.-left { margin-left: 0; margin-right: auto; }
.-center { margin-left: auto; margin-right: auto; }

.-no-rhythm * + * {
	margin-top: 0;
}

.-small-rhythm * + * {
	margin-top: .5em;
}
