.-text-center { text-align: center }
.-text-left { text-align: left }
.-text-right { text-align: right }

.-font-large { font-size: 18px }
.-font-normal { font-size: 16px }
.-font-small { font-size: 13px }

.-text-uppercase { 
	text-transform: uppercase;
	letter-spacing: -0.2px;
}

.-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
